<ng-template [ngIf]="searchService.isOptionsEmpty$ | async" [ngIfElse]="show">
	<p>
		Aucun résultat
	</p>
</ng-template>

<ng-template #show >
	<div class="mt-4 mb-4 " *ngIf="searchService.options$ | async as selectedOptions" style="max-width: 1400px; margin-left: 70px;" >
		<header *ngIf="selectedOptions.length > 0">
			<div class="card__header card__header--has-btn"
			style="background-color: #3F4246;border-bottom: 15px solid #1E2024;">
			  <h2 style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;color: #fff;font-size: 140%;">Résultats de la recherche </h2>
			 
			</div>
		</header>
		<div class="card__header card__header--has-btn"
			style="background-color: #3F4246;border-bottom: 15px solid #1E2024;">
			  <h2 style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;color: #fff;font-size: 90%;">équipes </h2>
			 
			</div>
		<ng-container *ngFor="let item of selectedOptions"  >
			<div class="card" *ngIf=" item.points"  style="background-color: #292C31;">
				<div class="row" *ngIf="selectedOptions.length > 0 " routerLink="/team/{{item.teamid}}" style="cursor: pointer;">
					
						<div class=" col-3 p-4 align=center" style="text-align: center;">
							<img src="{{item.logo}}" class="rounded selected-image" alt="Selected Image" style="width: 35%;">
						</div>
						<div class="col-9 p-4 align-self-center">
							<h5 style="color: #fff;"><b>équipe : </b> <span class='notbold'> {{item.teamname}} </span></h5>
							
							<h6 style="color: #fff;"><b>Championnat : </b> <span class='notbold'>{{item.leaguename}}</span></h6>
							<h6 style="color: #fff;"><b>Pays  : </b> <img src="{{item.flag}}" class="rounded selected-image" alt="Selected Image" style="width: 2%;"><span class='notbold'>  {{item.leaguecountry}}</span></h6>
						</div>

					

				</div>
			</div>
			
		</ng-container>

		<div class="card__header card__header--has-btn"
			style="background-color: #3F4246;border-bottom: 15px solid #1E2024;">
			  <h2 style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;color: #fff;font-size: 90%;">joueurs </h2>
			 
			</div>
		
			<ng-container *ngFor="let item of selectedOptions"  >
				<div class="card" *ngIf=" item.playername"  style="background-color: #292C31;">
					<div class="row" *ngIf="selectedOptions.length > 0 " routerLink="/player/{{item.teamid}}/{{item.playerid}}" style="cursor: pointer;">
						
							<div class=" col-3 p-4 align=center" style="text-align: center;">
								<img src="{{item.playerphoto}}" class="rounded selected-image" alt="Selected Image" style="width: 35%;">
							</div>
							<div class="col-9 p-4 align-self-center">
								<h5 style="color: #fff;"><b>joueur : </b> <span class='notbold'> {{item.playername}} </span></h5>
								<h6 style="color: #fff;"><b>Equipe  : </b> <img src="{{item.statistics[0].team.logo}}" class="rounded selected-image" alt="Selected Image" style="width: 2%;"><span class='notbold'>  {{item.statistics[0].team.name}}</span></h6>
								
							</div>
	
						
	
					</div>
				</div>
				
			</ng-container>
	</div>
</ng-template>