<div class="card__header card__header--has-btn" style="background-color: #3F4246;border-bottom: 15px solid #1E2024;">
    <h4  class="sp-table-caption" style="color: #fff;font-weight: bold;" ><span class="team-logo" style="padding: 3%;"><img
        width="50" height="57"
        src="https://media.api-sports.io/football/leagues/2.png"
        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""
        loading="lazy"
        sizes="(max-width: 111px) 100vw, 111px"></span>Ligue des champions de l'UEFA</h4>
   

</div>
<ng-container *ngFor="let fixture of fixtures">
    <div class="card" style="background-color: #292C31;" *ngIf="fixture.leagueid==2">
        <div class="row" >
            <div class="col text-center" routerLink="/team/{{fixture.teamhomeid}}" style="cursor: pointer;" >
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamhomename}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamhomelogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>
            <div class="col text-center" style="padding-top: 20px;" >
                <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.date}} / {{fixture.month}} / {{fixture.year}}</h5>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes==0">  {{fixture.hours}} h :  {{fixture.minutes}}0</h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes!=0">  {{fixture.hours}} h :  {{fixture.minutes}} </h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" >  VS </h6>
              
                
            </div>
            <div class="col text-center" routerLink="/team/{{fixture.teamawayid}}" style="cursor: pointer;" >
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamawayname}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamawaylogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>



        </div>
    </div>
    
</ng-container>
<div class="card__header card__header--has-btn" style="background-color: #3F4246;border-bottom: 15px solid #1E2024;">
    <h4  class="sp-table-caption" style="color: #fff;font-weight: bold;" ><span class="team-logo" style="padding: 3%;"><img
        width="50" height="57"
        src="https://media.api-sports.io/football/leagues/39.png"
        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""
        loading="lazy"
        sizes="(max-width: 111px) 100vw, 111px"></span>Premier League</h4>

</div>
<ng-container *ngFor="let fixture of fixtures">
    <div class="card" style="background-color: #292C31;" *ngIf="fixture.leagueid==39">
        <div class="row" >
            <div class="col text-center" routerLink="/team/{{fixture.teamhomeid}}"  style="cursor: pointer;">
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamhomename}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamhomelogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>
            <div class="col text-center" style="padding-top: 20px;" >
                <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.date}} / {{fixture.month}} / {{fixture.year}}</h5>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes==0">  {{fixture.hours}} h :  {{fixture.minutes}}0</h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes!=0">  {{fixture.hours}} h :  {{fixture.minutes}} </h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" >  VS </h6>
              
                
            </div>
            <div class="col text-center" routerLink="/team/{{fixture.teamawayid}}"  style="cursor: pointer;">
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamawayname}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamawaylogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>



        </div>
    </div>
    
</ng-container>

<div class="card__header card__header--has-btn" style="background-color: #3F4246;border-bottom: 15px solid #1E2024;">
    <h4  class="sp-table-caption" style="color: #fff;font-weight: bold;" ><span class="team-logo" style="padding: 3%;"><img
        width="50" height="57"
        src="https://media.api-sports.io/football/leagues/61.png"
        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""
        loading="lazy"
        sizes="(max-width: 111px) 100vw, 111px"></span>Ligue 1 Uber Eats</h4>

</div>
<ng-container *ngFor="let fixture of fixtures">
    <div class="card" style="background-color: #292C31;" *ngIf="fixture.leagueid==61">
        <div class="row" >
            <div class="col text-center" routerLink="/team/{{fixture.teamhomeid}}" style="cursor: pointer;" >
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamhomename}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamhomelogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>
            <div class="col text-center" style="padding-top: 20px;" >
                <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.date}} / {{fixture.month}} / {{fixture.year}}</h5>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes==0">  {{fixture.hours}} h :  {{fixture.minutes}}0</h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes!=0">  {{fixture.hours}} h :  {{fixture.minutes}} </h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" >  VS </h6>
              
                
            </div>
            <div class="col text-center" routerLink="/team/{{fixture.teamawayid}}"  style="cursor: pointer;">
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamawayname}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamawaylogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>



        </div>
    </div>
    
</ng-container>

<div class="card__header card__header--has-btn" style="background-color: #3F4246;border-bottom: 15px solid #1E2024;">
    <h4  class="sp-table-caption" style="color: #fff;font-weight: bold;" ><span class="team-logo" style="padding: 3%;"><img
        width="50" height="57"
        src="https://media.api-sports.io/football/leagues/135.png"
        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""
        loading="lazy"
        sizes="(max-width: 111px) 100vw, 111px"></span>Seria A</h4>

</div>
<ng-container *ngFor="let fixture of fixtures">
    <div class="card" style="background-color: #292C31;" *ngIf="fixture.leagueid==135">
        <div class="row" >
            <div class="col text-center" routerLink="/team/{{fixture.teamhomeid}}" style="cursor: pointer;" >
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamhomename}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamhomelogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>
            <div class="col text-center" style="padding-top: 20px;" >
                <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.date}} / {{fixture.month}} / {{fixture.year}}</h5>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes==0">  {{fixture.hours}} h :  {{fixture.minutes}}0</h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes!=0">  {{fixture.hours}} h :  {{fixture.minutes}} </h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" >  VS </h6>
              
                
            </div>
            <div class="col text-center" routerLink="/team/{{fixture.teamawayid}}" style="cursor: pointer;">
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamawayname}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamawaylogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>



        </div>
    </div>
    
</ng-container>

<div class="card__header card__header--has-btn" style="background-color: #3F4246;border-bottom: 15px solid #1E2024;">
    <h4  class="sp-table-caption" style="color: #fff;font-weight: bold;" ><span class="team-logo" style="padding: 3%;"><img
        width="50" height="57"
        src="https://media.api-sports.io/football/leagues/140.png"
        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""
        loading="lazy"
        sizes="(max-width: 111px) 100vw, 111px"></span>La Liga Santander</h4>

</div>
<ng-container *ngFor="let fixture of fixtures">
    <div class="card" style="background-color: #292C31;" *ngIf="fixture.leagueid==140">
        <div class="row" >
            <div class="col text-center" routerLink="/team/{{fixture.teamhomeid}}" style="cursor: pointer;">
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamhomename}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamhomelogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>
            <div class="col text-center" style="padding-top: 20px;" >
                <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.date}} / {{fixture.month}} / {{fixture.year}}</h5>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes==0">  {{fixture.hours}} h :  {{fixture.minutes}}0</h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes!=0">  {{fixture.hours}} h :  {{fixture.minutes}} </h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" >  VS </h6>
              
                
            </div>
            <div class="col text-center" routerLink="/team/{{fixture.teamawayid}}" style="cursor: pointer;">
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamawayname}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamawaylogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>



        </div>
    </div>
    
</ng-container>
<div class="card__header card__header--has-btn" style="background-color: #3F4246;border-bottom: 15px solid #1E2024;">
    <h4  class="sp-table-caption" style="color: #fff;font-weight: bold;" ><span class="team-logo" style="padding: 3%;"><img
        width="50" height="57"
        src="https://media.api-sports.io/football/leagues/78.png"
        class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""
        loading="lazy"
        sizes="(max-width: 111px) 100vw, 111px"></span>Bundesliga</h4>

</div>
<ng-container *ngFor="let fixture of fixtures">
    <div class="card" style="background-color: #292C31;" *ngIf="fixture.leagueid==78">
        <div class="row" >
            <div class="col text-center" routerLink="/team/{{fixture.teamhomeid}}" style="cursor: pointer;" >
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamhomename}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamhomelogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>
            <div class="col text-center" style="padding-top: 20px;" >
                <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.date}} / {{fixture.month}} / {{fixture.year}}</h5>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes==0">  {{fixture.hours}} h :  {{fixture.minutes}}0</h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" *ngIf="fixture.minutes!=0">  {{fixture.hours}} h :  {{fixture.minutes}} </h6>
                <h6 style="color: #fff; font-weight: bold;font-size: small;" >  VS </h6>
              
                
            </div>
            <div class="col text-center" routerLink="/team/{{fixture.teamawayid}}" style="cursor: pointer;" >
                <div class="col-9 p-4 align-self-center">
                    <h5 style="color: #fff; font-weight: bold;font-size: small;">  {{fixture.teamawayname}} </h5>
                    <div class="text-center">
                    <img src="{{fixture.teamawaylogo}}" class="rounded selected-image" alt="Selected Image" style="width: 10%;">
                </div>
                </div>
              
                
            </div>



        </div>
    </div>
    
</ng-container>