<div class="container" style="margin-top: 3%;background-color: #1E2024;max-width: 600px;">

			<div class="card" style="background-color: #292C31;">
				<header class="card__header" style="background-color: #292C31;border-bottom: 1px solid #34373c;">
					<h4 style="color: #fff;">Se connecter à votre compte</h4>
					
				</header>
				<div class="card__content " >
					
						
							
							<form class="woocomerce-form woocommerce-form-login login" method="post"
								(submit)="doSignin()">

								<div class="form-group" style="border-bottom: 1px solid #34373c;">
									<label for="username" style="color: #fff;">Nom d'utilisateur&nbsp;<span
											class="required">*</span></label>
									<input type="text" class="woocommerce-Input woocommerce-Input--text form-control"
										name="username" id="username" autocomplete="username" [(ngModel)]="username"
										style="background-color: #34373c;color: #fff;">
								</div>
								<div class="form-group" style="border-bottom: 1px solid #34373c;">
									<label for="password" style="color: #fff;">Mot de passe&nbsp;<span
											class="required">*</span></label>
									<span class="password-input"><input
											class="woocommerce-Input woocommerce-Input--text form-control"
											type="password" name="password" id="password"
											autocomplete="current-password" [(ngModel)]="password"
											style="background-color: #34373c;color: #fff;"><span
											class="show-password-input"></span></span>
								</div>


								<div class="form-group form-group--password-forgot">
									<div class="row justify-content-between">
										<div class="col-sm-5">
											<label class="checkbox checkbox-inline" style="color: #fff;">
												<input type="checkbox" name="rememberme" id="rememberme"
													value="forever">
												Se souvenir de moi <span class="checkbox-indicator"></span>
											</label>
										</div>
										<div class="col-sm-7 lost_password-wrap" style="color: #fff;">
											<span class="password-reminder woocommerce-LostPassword lost_password"
												style="color: #fff;">
												Vous n'avez pas de compte? <a href="/signup" routerLink="/signup">Cliquez
													Ici</a>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group form-group--sm">
									<input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce"
										value="6363e83d05"><input type="hidden" name="_wp_http_referer"
										value="/soccer-dark/my-account/"> <button type="submit"
										class="woocommerce-Button btn btn-primary-inverse btn-lg btn-block" name="login"
										value="Signin"
										style="background-color: #38a9ff;color: #fff;font-family: inherit;text-transform: uppercase;font-weight: bold;">Se connecter</button>
								</div>

								<div style="color : red" *ngIf='error'>{{error}}</div>
							</form>
						
						
					
				</div>

			</div>


</div>