<div class="header-search-form">
	<form  class="search-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
		<input  type="search" class="form-control header-mobile__search-control" type="search" name="search" ngModel  aria-label="Search"
			placeholder="Entrez votre recherche ici...">
		<button type="submit" class="header-mobile__search-submit">
			<i class="fa fa-search"></i>
		</button>
	</form>
</div>

