<div class="search-box">
	<form #f="ngForm" (ngSubmit)="onSubmit(f)">

		<input type="search" name="search" ngModel class="form-control form-control-lg" type="text" placeholder="Search"
			   (keyup)="term$.next($event.target.value)" autocomplete="off" (blur)="onblur()">
	</form>
</div>


