<div class="container" style="border:3px solid #292C31;border-radius:10px !important;padding-bottom: 30px !important;">
    <div class="row justify-content-left">
        <div class="col-md-5">
            <div class="row justify-content-left">
                <div class="card__header card__header--has-btn"
                    style="background-color: #3F4246;border-bottom: 0.001cm solid black;">
                    <h2 style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;">
                        Informations générales </h2>
                </div>

                <div class="card" style="background-color: #3F4246; ">
                    <div class="card-body" style="background-color: #3F4246; ">
                        <div class="row">
                            <div class="col">
                                <div *ngIf="player" style="background-color: #3F4246;  ">
                                    <div class="container">
                                        <div class="text-center" style="padding: 30px;">
                                            <h2 style="font-weight:bold ;"> {{player.playername}}</h2>
                                            <img src="{{player.playerphoto}}">
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="col">

                                <div *ngIf="player" style="background-color: #3F4246;padding-top: 14%;  ">
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Nom Complet : </b> <span
                                            class='notbold'>{{player.playerfirstname}} {{player.playerlastname}}</span>
                                    </h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Nationalité : </b> <span
                                            class='notbold'>{{player.playernationality}} </span>
                                    </h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Age : </b> <span
                                            class='notbold'>{{player.playerage}}</span> </h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Date de naissance : </b> <span
                                            class='notbold'>{{player.playerdateofbirth}} </span></h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Lieu de naissance : </b> <span
                                            class='notbold'>{{player.playerplaceofbirth}} </span></h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Taille : </b> <span
                                            class='notbold'>{{player.playerheight}} </span></h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Poids : </b> <span
                                            class='notbold'>{{player.playerweight}} </span></h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"
                                        *ngIf="player.statistics[0].games.position == 'Attacker'"><b>Position : </b>
                                        <span class='notbold'>Attaquant </span></h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"
                                        *ngIf="player.statistics[0].games.position == 'Midfielder'"><b>Position : </b>
                                        <span class='notbold'>Milieu </span></h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"
                                        *ngIf="player.statistics[0].games.position == 'Defender'"><b>Position : </b>
                                        <span class='notbold'>Défenseur </span></h2>
                                    <h2 style="font-weight: bold;font-size: 0.8rem;"
                                        *ngIf="player.statistics[0].games.position == 'Goalkeeper'"><b>Position : </b>
                                        <span class='notbold'>Gardien </span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-left" style="--bs-gutter-x: 0rem;">
                    <div class="card__header card__header--has-btn"
                        style="background-color: #3F4246;border-bottom: 0.001cm solid black; ">
                        <h2
                            style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;">
                            &nbsp; &nbsp;Performances </h2>
                    </div>

                    <div class="card" style="background-color: #3F4246; ">
                        <div class="card-body" style="background-color: #3F4246; ">
                            <div *ngIf="player" style="background-color: #3F4246;  ">
                                <div class="table-responsive sp-table-wrapper" style="color: #fff;">
                                    <div class="sp-scrollable-table-wrapper">
                                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                            <table
                                                class="table table-hover table-standings sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table dataTable no-footer"
                                                data-sp-rows="10" id="DataTables_Table_0" role="grid"
                                                style="color: #fff; --bs-table-hover-color:grey">
                                               
                                                <tbody>
                                                    <tr class="highlighted sp-row-no-0 odd" role="row" *ngIf="player"
                                                        style="cursor: pointer;border-block: none !important;">
                                                        <td class="data-rank sp-highlight" data-label="Club"
                                                            style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;">Apparitions
                                                        </td>
                                                        <td class="data-rank sp-highlight" data-label="Club"
                                                        style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;font-weight: 400">{{player.statistics[0].games.appearences}}
                                                    </td>
                                                    </tr>
                                                    <tr class="highlighted sp-row-no-0 odd" role="row" *ngIf="note"
                                                        style="cursor: pointer;">
                                                        <td class="data-rank sp-highlight" data-label="Club"
                                                            style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;">Note moyenne
                                                        </td>
                                                        <td class="data-rank sp-highlight" data-label="Club"
                                                            style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;font-weight: 400">{{note}}
                                                        </td>
                                                    </tr>
                                                    <tr class="highlighted sp-row-no-0 odd" role="row" *ngIf="player.statistics[0].games.position!=='Goalkeeper'"
                                                        style="cursor: pointer;">
                                                        <td class="data-rank sp-highlight" data-label="Club"
                                                            style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;">Buts
                                                        </td>
                                                        <td class="data-rank sp-highlight" data-label="Club"
                                                            style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;font-weight: 400">{{player.statistics[0].goals.total}}
                                                        </td>
                                                    </tr>
                                                    <tr class="highlighted sp-row-no-0 odd" role="row" *ngIf="player.statistics[0].games.position!=='Goalkeeper'"
                                                    style="cursor: pointer;">
                                                    <td class="data-rank sp-highlight" data-label="Club"
                                                        style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;">Passes décicives
                                                    </td>
                                                    <td class="data-rank sp-highlight" data-label="Club"
                                                        style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;font-weight: 400">{{player.statistics[0].goals.assists}}
                                                    </td>
                                                </tr>
                                                <tr class="highlighted sp-row-no-0 odd" role="row" *ngIf="player"
                                                    style="cursor: pointer;">
                                                    <td class="data-rank sp-highlight" data-label="Club"
                                                        style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;">Cartons jaunes
                                                    </td>
                                                    <td class="data-rank sp-highlight" data-label="Club"
                                                        style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;font-weight: 400">{{player.statistics[0].cards.yellow}}
                                                    </td>
                                                </tr>
                                                <tr class="highlighted sp-row-no-0 odd" role="row" *ngIf="player"
                                                    style="cursor: pointer;">
                                                    <td class="data-rank sp-highlight" data-label="Club"
                                                        style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;">Cartons rouges
                                                    </td>
                                                    <td class="data-rank sp-highlight" data-label="Club"
                                                        style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;font-weight: 400">{{player.statistics[0].cards.red}}
                                                    </td>
                                                </tr>
                                                <tr class="highlighted sp-row-no-0 odd" role="row" *ngIf="player"
                                                    style="cursor: pointer;">
                                                    <td class="data-rank sp-highlight" data-label="Club"
                                                        style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;">Duels gagnés / total
                                                    </td>
                                                    <td class="data-rank sp-highlight" data-label="Club"
                                                        style="color: #fff;background-color: #3F4246;border-block: none !important;font-size: 16px;font-weight: 400">{{player.statistics[0].duels.won}} / {{player.statistics[0].duels.total}}
                                                    </td>
                                                </tr>


                                                        
                                                       
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>



        <div class="col-md-7">

            <div class="card__header card__header--has-btn"
                style="background-color: #3F4246;border-bottom: 0.001cm solid black;">
                <h2 style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;">
                    Statistiques </h2>
            </div>
            <div class="row justify-content-center"
                style="padding-left: calc(var(--bs-gutter-x) * 0.0)!important;padding-right: calc(var(--bs-gutter-x) * 0.0)!important;">
            </div>

            <div class="row justify-content-left">
                <div class="col-md-6" *ngIf="player.statistics[0].games.position=='Goalkeeper'">
                    <div class="card" style="background-color: #3F4246; ">
                        <div class="card-body" style="background-color: #3F4246; ">
                            <div class="card" style="background-color: #3F4246; opacity: 0.9;">
                                <div class="chart-wrapper" style="background-color: #3F4246; ">
                                    <canvas baseChart [datasets]="barChartDatagardienbut" [labels]="barChartLabelsgardienbut"
                                        [options]="barChartOptionsgardienbut" [plugins]="barChartPlugins" [legend]="false"
                                        [colors]="barChartColors" [chartType]="barChartType" height="300">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="player.statistics[0].games.position!=='Goalkeeper'">
                    <div class="card" style="background-color: #3F4246; ">
                        <div class="card-body" style="background-color: #3F4246; ">
                            <div class="card" style="background-color: #3F4246; opacity: 0.9;">
                                <div class="chart-wrapper" style="background-color: #3F4246; ">
                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                        [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="false"
                                        [colors]="barChartColors" [chartType]="barChartType" height="300">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="player.statistics[0].games.position=='Attacker'||player.statistics[0].games.position=='Midfielder'">
                    <div class="card" style="background-color: #3F4246; ">
                        <div class="card-body" style="background-color: #3F4246; ">
                            <div class="card" style="background-color: #3F4246; opacity: 0.9;">
                                <div class="chart-wrapper" style="background-color: #3F4246; ">
                                    <canvas baseChart [datasets]="barChartData1" [labels]="barChartLabels1"
                                        [options]="barChartOptions1" [plugins]="barChartPlugins" [legend]="false"
                                        [colors]="barChartColors" [chartType]="barChartType" height="300">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6" *ngIf="player.statistics[0].games.position=='Defender'">
                    <div class="card" style="background-color: #3F4246; ">
                        <div class="card-body" style="background-color: #3F4246; ">
                            <div class="card" style="background-color: #3F4246; opacity: 0.9;">
                                <div class="chart-wrapper" style="background-color: #3F4246; ">
                                    <canvas baseChart [datasets]="barChartDataduels" [labels]="barChartLabelsduels"
                                        [options]="barChartOptionsduels" [plugins]="barChartPlugins" [legend]="false"
                                        [colors]="barChartColors" [chartType]="barChartType" height="300">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-left">
                <div class="col-md-6" *ngIf="player.statistics[0].games.position=='Attacker'">
                    <div class="card" style="background-color: #3F4246; ">
                        <div class="card-body" style="background-color: #3F4246; ">
                            <div class="card" style="background-color: #3F4246; opacity: 0.9;">
                                <div class="chart-wrapper" style="background-color: #3F4246; ">
                                    <canvas baseChart [datasets]="barChartDatabuts" [labels]="barChartLabelsbuts"
                                        [options]="barChartOptionsbuts" [plugins]="barChartPlugins" [legend]="false"
                                        [colors]="barChartColors" [chartType]="barChartType" height="300">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="player.statistics[0].games.position=='Defender'">
                    <div class="card" style="background-color: #3F4246; ">
                        <div class="card-body" style="background-color: #3F4246; ">
                            <div class="card" style="background-color: #3F4246; opacity: 0.9;">
                                <div class="chart-wrapper" style="background-color: #3F4246; ">
                                    <canvas baseChart [datasets]="barChartDatatackles" [labels]="barChartLabelstackles"
                                        [options]="barChartOptionstackles" [plugins]="barChartPlugins" [legend]="false"
                                        [colors]="barChartColors" [chartType]="barChartType" height="300">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="player.statistics[0].games.position=='Midfielder'">
                    <div class="card" style="background-color: #3F4246; ">
                        <div class="card-body" style="background-color: #3F4246; ">
                            <div class="card" style="background-color: #3F4246; opacity: 0.9;">
                                <div class="chart-wrapper" style="background-color: #3F4246; ">
                                    <canvas baseChart [datasets]="barChartDataduels" [labels]="barChartLabelsduels"
                                        [options]="barChartOptionsduels" [plugins]="barChartPlugins" [legend]="false"
                                        [colors]="barChartColors" [chartType]="barChartType" height="300">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" *ngIf="player.statistics[0].games.position!=='Goalkeeper'">
                    <div class="card" style="background-color: #3F4246; ">
                        <div class="card-body" style="background-color: #3F4246; ">
                            <div class="card" style="background-color: #3F4246; opacity: 0.9;">
                                <div class="chart-wrapper" style="background-color: #3F4246; ">
                                    <canvas baseChart [datasets]="barChartDatapasses" [labels]="barChartLabelspasses"
                                        [options]="barChartOptionspasses" [plugins]="barChartPlugins" [legend]="false"
                                        [colors]="barChartColors" [chartType]="barChartType" height="300">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>










    </div>
</div>