/* SportsPress icons */
@font-face {
	font-family: 'sportspress';
	src:url('../fonts/sportspress.eot');
	src:url('../fonts/sportspress.eot') format('embedded-opentype'),
		url('../fonts/sportspress.woff2') format('woff2'),
		url('../fonts/sportspress.ttf') format('truetype'),
		url('../fonts/sportspress.woff') format('woff'),
		url('../images/sportspress.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sp-icon-"], [class*=" sp-icon-"] {
	font-family: sportspress, dashicons;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	vertical-align: top;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Performance Icons */
.sp-icon-sub:before {
	content: "\f503";
}
.sp-icon-star-filled:before {
	content: "\f155";
}
.sp-icon-update:before {
	content: "\f113";
}
.sp-icon-undo:before {
	content: "\f171";
}
.sp-icon-redo:before {
	content: "\f172";
}
.sp-icon-marker:before {
	content: "\f159";
}
.sp-icon-no:before {
	content: "\f158";
}
.sp-icon-heart:before {
	content: "\f487";
}

/* Performance Icons - Sports */
.sp-icon-soccerball:before {
	content: "\e700";
}
.sp-icon-baseball:before {
	content: "\e701";
}
.sp-icon-basketball:before {
	content: "\e602";
}
.sp-icon-golfball:before {
	content: "\e603";
}
.sp-icon-cricketball:before {
	content: "\e604";
}
.sp-icon-bowling:before {
	content: "\e605";
}
.sp-icon-ice-hockey:before {
	content: "\e606";
}
.sp-icon-football:before {
	content: "\e607";
}
.sp-icon-poolball:before {
	content: "\e608";
}
.sp-icon-table-tennis:before {
	content: "\e609";
}
.sp-icon-tennis:before {
	content: "\e610";
}
.sp-icon-racing-flag:before {
	content: "\e611";
}
.sp-icon-volleyball:before {
	content: "\e612";
}

/* Performance Icons - Sports (Alt) */
.sp-icon-soccerball-alt:before {
	content: "\e600";
}
.sp-icon-baseball-alt:before {
	content: "\e601";
}

/* Performance Icons - Misc */
.sp-icon-shoe:before {
	content: "\e800";
}
.sp-icon-card:before {
	content: "\e801";
}
.sp-icon-league:before {
	content: "\f332";
}
.sp-icon-shield:before {
	content: "\f334";
}
.sp-icon-tshirt:before,
.sp-icon-sp_player:before {
	content: "\f307";
}
.sp-icon-whistle:before {
	content: "\f227";
}
.sp-icon-time:before {
	content: "\f469";
}
.sp-icon-friendly:before {
	content: "\f328";
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */