

<div class="site-content " id="content" >
  <div class="container">
    <div class="row">

      <div id="primary" class="content-area col-lg-12">
        <main id="main" class="site-main">

          <div class="sp-template sp-template-league-table" >
            <div class="card card--has-table"  style="background-color: #34373B;">
              <header class="card__header" *ngIf="id" style="background-color: #34373B;border-bottom: 0.001cm solid #9a9da2;">
                <h4 *ngIf="leaguename" class="sp-table-caption" style="color: #fff;" ><span class="team-logo" style="padding: 3%;"><img
                  width="50" height="57"
                  src="https://media.api-sports.io/football/leagues/{{id}}.png"
                  class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""
                  loading="lazy"
                  sizes="(max-width: 111px) 100vw, 111px"></span>{{leaguename}}</h4>
              </header>
              <div class="card__content" style="color: #fff;">
                <div class="table-responsive sp-table-wrapper" style="color: #fff;">
                  <div class="sp-scrollable-table-wrapper">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                      <table
                        class="table table-hover table-standings sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table dataTable no-footer"
                        data-sp-rows="10" id="DataTables_Table_0" role="grid" style="color: #fff; --bs-table-hover-color:grey">
                        <thead style="color: #fff;">
                          <tr role="row" style="color: #fff;">
                            <th class="data-rank sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="Pos" style="color: #fff;">Pos</th>
                            <th class="data-name sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="Club" style="color: #fff;">Club</th>
                            <th class="data-p sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="P" style="color: #fff;">MJ</th>
                            <th class="data-w sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="W" style="color: #fff;">G</th>
                            <th class="data-d sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="D" style="color: #fff;">N</th>
                            <th class="data-l sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="L" style="color: #fff;">P</th>
                            <th class="data-f sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="F" style="color: #fff;">BP</th>
                            <th class="data-a sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="A" style="color: #fff;">BC</th>
                              <th class="data-pts sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="Pts" style="color: #fff;">Points</th>
                            <th class="data-gd sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                              colspan="1" aria-label="GD" style="color: #fff;">Forme</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr class="highlighted sp-row-no-0 odd" role="row" *ngFor="let team of teams;"  routerLink="/team/{{team.teamid}}" style="cursor: pointer;">
                            
                            <td class="data-rank sp-highlight" data-label="Pos">{{team.rank}}
                            </td>
                            <td class="data-name has-logo sp-highlight" data-label="Club" style="color: #fff;"><span class="team-logo"><img
                                  width="111" height="128"
                                  src={{team.logo}}
                                  class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""
                                  loading="lazy"
                                  sizes="(max-width: 111px) 100vw, 111px"></span>{{team.teamname}}
                            </td>
                            <td class="data-p" data-label="P" style="color: #fff;">{{team.played}}</td>
                            <td class="data-w" data-label="W" style="color: #fff;">{{team.win}}</td>
                            <td class="data-d" data-label="D" style="color: #fff;">{{team.draw}}</td>
                            <td class="data-l" data-label="L" style="color: #fff;">{{team.lose}}</td>
                            <td class="data-f" data-label="F" style="color: #fff;">{{team.goalsfor}}</td>
                            <td class="data-a" data-label="A" style="color: #fff;">{{team.goalsag}}</td>
                            <td class="data-pts" data-label="Pts" style="color: #fff;">{{team.points}}</td>
                            <td class="data-gd" data-label="GD" id="ss" style="color: #fff;">{{team.form}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>