<div class="container" style="border:3px solid #292C31;border-radius:10px !important;padding-bottom: 30px !important;">
  <div class="row justify-content-center">
    <div class="container">
      <div class="text-center" style="padding: 30px;">
        <h2 style="font-size: 3rem;font-weight: bold;">{{team.teamname}}</h2>
        <img src="{{team.logo}}" style="width: 40 !important; ">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card__header card__header--has-btn"
      style="background-color: #3F4246;border-bottom: 0.001cm solid black;">
        <h2 style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;">Infomations
          générales </h2>
      </div>
      <div class="row justify-content-center" style="padding-left: calc(var(--bs-gutter-x) * 0.0)!important;padding-right: calc(var(--bs-gutter-x) * 0.0)!important;"></div>
      <div class="card" style="background-color: #3F4246; ">
        <div class="card-body" style="background-color: #3F4246; ">
          <div *ngIf="team" style="background-color: #3F4246;  ">
            <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Pays : </b> <span class='notbold'>{{team.teamcountry}}</span> </h2>
            <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Ville : </b> <span class='notbold'>{{team.venuecity}}</span> </h2>
            <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Fondation : </b> <span class='notbold'>{{team.founded}} </span></h2>
            <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Stade : </b> <span class='notbold'>{{team.venuename}} </span></h2>
            <h2 style="font-weight: bold;font-size: 0.8rem;"><b>Capcité du stade : </b> <span class='notbold'>{{team.venuecapacity}} places </span></h2>
            <img src="{{team.venueimage}}" style="width: 40 !important; ">
          </div>
        </div>
      </div>

      <div class="card__header card__header--has-btn"
      style="background-color: #3F4246;border-bottom: 0.001cm solid black;">
        <h2 style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;">Liste des joueurs </h2>
      </div>
      
      <div class="card" style="background-color: #3F4246; ">
        <div class="card-body" style="background-color: #3F4246; ">
          <div *ngIf="team" style="background-color: #3F4246;  ">
            <div class="table-responsive sp-table-wrapper" style="color: #fff;">
              <div class="sp-scrollable-table-wrapper">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                  <table
                    class="table table-hover table-standings sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table dataTable no-footer"
                    data-sp-rows="10" id="DataTables_Table_0" role="grid"
                    style="color: #fff; --bs-table-hover-color:grey">
                    <thead style="color: #fff;">
                      <tr role="row" style="color: #fff;">
                        <th class="data-rank sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" aria-label="Pos" style="color: #fff;"></th>
                        <th class="data-name sorting" tabindex="1" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" aria-label="Club" style="color: #fff;">Nom</th>
                        <th class="data-p sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" aria-label="P" style="color: #fff;">Prénom</th>
                          <th class="data-p sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" aria-label="P" style="color: #fff;">Age</th>
                          <th class="data-p sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" aria-label="P" style="color: #fff;">Poste</th>


                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngIf="team" style="background-color: #3F4246;  ">
                      <tr class="highlighted sp-row-no-0 odd" role="row" *ngFor="let player of players;" routerLink="/player/{{team.teamid}}/{{player.playerid}}" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Club"
                          style="color: #fff;background-color: #3F4246;">
                        </td>
                        <td class="data-p" data-label="Club" style="color: #fff;background-color: #3F4246;">{{player.playerlastname}}</td>
                        <td class="data-w" data-label="P" style="color: #fff;background-color: #3F4246;">{{player.playerfirstname}}</td>
                        <td class="data-p" data-label="Club" style="color: #fff;background-color: #3F4246;">{{player.playerage}}</td>
                        <td class="data-w" data-label="P" *ngIf="player.statistics[0].games.position == 'Attacker'" style="color: #fff;background-color: #3F4246;" > Attaquant </td>
                        <td class="data-w" data-label="P" *ngIf="player.statistics[0].games.position == 'Defender'" style="color: #fff;background-color: #3F4246;" > Défenceur </td>
                        <td class="data-w" data-label="P" *ngIf="player.statistics[0].games.position == 'Midfielder'" style="color: #fff;background-color: #3F4246;" > Milieu </td>
                        <td class="data-w" data-label="P" *ngIf="player.statistics[0].games.position == 'Goalkeeper'" style="color: #fff;background-color: #3F4246;" > Gardien </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card__header card__header--has-btn"
        style="background-color: #3F4246;border-bottom: 0.001cm solid black;">

        <h2 style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;">Chiffres
          clés </h2>
      </div>
      <h1 style="background-color: #3F4246;font-weight: bold;font-size: 0.8rem;" *ngIf="team"> &nbsp; &nbsp; &nbsp; <b>Formation préférée :</b> <span class='notbold'>&nbsp;{{team.lineups}} &nbsp;</span> </h1>
      <h1 style="background-color: #3F4246;font-weight: bold;font-size: 0.8rem;"> &nbsp; &nbsp; &nbsp; Forme récente : &nbsp; 
      

      <a *ngFor="let sp of usingSpread" >  
            <a *ngIf="sp == 'W'"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16" style="color: #01A101;background-color: #3F4246;" >
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
              </svg>&nbsp; </a>
<a *ngIf="sp == 'D'"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16" style="color: gray;background-color: #3F4246;">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
</svg>&nbsp; </a>
<a *ngIf="sp == 'L'"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16" style="color: #E71A2D;background-color: #3F4246;">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>&nbsp; </a>
           
          </a>  
         </h1>

      <div class="card" style="background-color: #3F4246; ">
        <div class="card-body" style="background-color: #3F4246; ">
          <div *ngIf="team" style="background-color: #3F4246;  ">
            <div class="table-responsive sp-table-wrapper" style="color: #fff;">
              <div class="sp-scrollable-table-wrapper">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                  <table
                    class="table table-hover table-standings sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table dataTable no-footer"
                    data-sp-rows="10" id="DataTables_Table_0" role="grid"
                    style="color: #fff; --bs-table-hover-color:grey">
                    <thead style="color: #fff;">
                      <tr role="row" style="color: #fff;">
                        <th class="data-rank sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" aria-label="Pos" style="color: #fff;"></th>
                        <th class="data-name sorting" tabindex="1" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" aria-label="Club" style="color: #fff;">Domicile</th>
                        <th class="data-p sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" aria-label="P" style="color: #fff;">Extérieur</th>
                        <th class="data-w sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                          colspan="1" aria-label="W" style="color: #fff;">Total</th>


                      </tr>
                    </thead>
                    <tbody>
                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Club"
                          style="color: #fff;background-color: #3F4246;">Matchs
                        </td>
                        <td class="data-p" data-label="Club" style="color: #fff;background-color: #3F4246;"></td>
                        <td class="data-w" data-label="P" style="color: #fff;background-color: #3F4246;"></td>
                        <td class="data-d" data-label="W" style="color: #fff;background-color: #3F4246;"></td>
                      </tr>
                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos">Matchs joués
                        </td>
                        <td class="data-p" data-label="Club" style="color: #fff;">{{team.playedhome}}</td>
                        <td class="data-w" data-label="P" style="color: #fff;">{{team.playedaway}}</td>
                        <td class="data-d" data-label="W" style="color: #fff;">{{team.playedtotal}}</td>
                      </tr>
                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos">Matchs gagnés
                        </td>
                        <td class="data-p" data-label="P" style="color: #fff;">{{team.winshome}}</td>
                        <td class="data-w" data-label="W" style="color: #fff;">{{team.winsaway}}</td>
                        <td class="data-d" data-label="D" style="color: #fff;">{{team.winstotal}}</td>
                      </tr>
                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos">Matchs nuls
                        </td>
                        <td class="data-p" data-label="P" style="color: #fff;">{{team.drawshome}}</td>
                        <td class="data-w" data-label="W" style="color: #fff;">{{team.drawsaway}}</td>
                        <td class="data-d" data-label="D" style="color: #fff;">{{team.drawstotal}}</td>
                      </tr>

                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos">Matchs nuls
                        </td>
                        <td class="data-p" data-label="P" style="color: #fff;">{{team.loseshome}}</td>
                        <td class="data-w" data-label="W" style="color: #fff;">{{team.losesaway}}</td>
                        <td class="data-d" data-label="D" style="color: #fff;">{{team.losestotal}}</td>
                      </tr>
                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos"
                          style="color: #fff;background-color: #3F4246;">Buts
                        </td>
                        <td class="data-p" data-label="P" style="color: #fff;background-color: #3F4246;"></td>
                        <td class="data-w" data-label="W" style="color: #fff;background-color: #3F4246;"></td>
                        <td class="data-d" data-label="D" style="color: #fff;background-color: #3F4246;"></td>
                      </tr>
                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos">Buts pour
                        </td>
                        <td class="data-p" data-label="P" style="color: #fff;">{{team.goalsforhome}}</td>
                        <td class="data-w" data-label="W" style="color: #fff;">{{team.goalsforaway}}</td>
                        <td class="data-d" data-label="D" style="color: #fff;">{{team.goalsfortotal}}</td>
                      </tr>

                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos">Buts contre
                        </td>
                        <td class="data-p" data-label="P" style="color: #fff;">{{team.goalagainsthome}}</td>
                        <td class="data-w" data-label="W" style="color: #fff;">{{team.goalagainstaway}}</td>
                        <td class="data-d" data-label="D" style="color: #fff;">{{team.goalagainsttotal}}</td>
                      </tr>
                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos"
                          style="color: #fff;background-color: #3F4246;">Moyenne des buts
                        </td>
                        <td class="data-p" data-label="P" style="color: #fff;background-color: #3F4246;"></td>
                        <td class="data-w" data-label="W" style="color: #fff;background-color: #3F4246;"></td>
                        <td class="data-d" data-label="D" style="color: #fff;background-color: #3F4246;"></td>
                      </tr>

                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos">Buts pour
                        </td>
                        <td class="data-p" data-label="P" style="color: #fff;">{{team.goalsaverageforhome}}</td>
                        <td class="data-w" data-label="W" style="color: #fff;">{{team.goalsaverageforaway}}</td>
                        <td class="data-d" data-label="D" style="color: #fff;">{{team.goalsaveragefortotal}}</td>
                      </tr>

                      <tr class="highlighted sp-row-no-0 odd" role="row" style="cursor: pointer;">
                        <td class="data-rank sp-highlight" data-label="Pos">Buts pour
                        </td>
                        <td class="data-p" data-label="P" style="color: #fff;">{{team.goalsaverageagainsthome}}</td>
                        <td class="data-w" data-label="W" style="color: #fff;">{{team.goalsaverageagainstaway}}</td>
                        <td class="data-d" data-label="D" style="color: #fff;">{{team.goalsaverageagainsttotal}}</td>
                      </tr>



                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <div class="row justify-content-center">
      <div class="card__header card__header--has-btn"
        style="background-color: #3F4246;border-bottom: 0.001cm solid black;">

        <h2 style="font-weight: bold;justify-content: center;text-align: center;background-color: #3F4246;"> &nbsp; &nbsp; Statistiques
        </h2>
      </div>
    </div>
    <div class="row justify-content-center" >
      <div class="row justify-content-center" style="padding-left: calc(var(--bs-gutter-x) * 0.0)!important;padding-right: calc(var(--bs-gutter-x) * 0.0)!important;">
        <div class="card" style="background-color: #3F4246; opacity: 0.9;">
          <div class="chart-wrapper" style="background-color: #3F4246; opacity: 0.9;">
            <canvas baseChart [options]="doughnutChartOptions" height="300" [data]="doughnutChartData"
              [colors]="doughnutChartColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
            </canvas>
          </div>
        </div>
        <div class="card" style="background-color: #3F4246; opacity: 0.9;">
          <div class="chart-wrapper" style="background-color: #3F4246; ">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [colors]="barChartColors" [chartType]="barChartType"
              height="300">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>