<div class="mt-4 mb-4" *ngIf="searchService.option$ | async as selectedOption">
	<header *ngIf="selectedOption.teamid">
		<h3>Selected Product</h3>
	</header>
	<div class="card">
		<div class="row" *ngIf="selectedOption.teamid">
			<div class=" col-3 p-4">
				<img src="{{selectedOption.logo}}" class="rounded float-left selected-image" alt="Selected Image">
			</div>
			<div class="col-9 p-4">
				<h5>{{selectedOption.teamname}}</h5>
				<p>{{selectedOption.teamname}}</p>
				<p>
					<span>Price: {{selectedOption.teamname}} </span>
					<span>Quantity: {{selectedOption.teamname}} </span>

				</p>
			</div>
		</div>
	</div>

</div>