<header class="header header--layout-1">
	<div class="header__top-bar clearfix">
		<div class="container">
			<div class="header__top-bar-inner">
			</div>
		</div>
	</div>
	<div class="header__secondary">
		<div class="container">
			<div class="header__secondary-inner">
				<app-widget-search-bar-button></app-widget-search-bar-button>
				<ul class="info-block info-block--header">
					<li class="info-block__item info-block__item--contact-primary">
						<svg role="img" class="df-icon df-icon--whistle">
							<use xlink:href="assets/icons-soccer.svg#whistle" />
						</svg>
						<h6 class="info-block__heading">Rejoignez nous!</h6>
						<a class="info-block__link" href="mailto:aymen17@hotmail.fr">aymen17@hotmail.fr </a>
					</li>
					<li class="info-block__item info-block__item--contact-secondary">
						<svg role="img" class="df-icon df-icon--soccer-ball">
							<use xlink:href="assets/icons-soccer.svg#soccer-ball" />
						</svg>
						<h6 class="info-block__heading"> Contactez nous </h6> <a class="info-block__link"
							href="mailto:aymenjelassi2014@gmail.com"> aymenjelassi@gmail.com </a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="header__primary">
		<div class="container">
			<div class="header__primary-inner">
				<!-- Header Logo -->
				<div class="header-logo"> <a href="./index.html" rel="home"> <img src="assets/logoaymen.svg"
							class="header-logo__img" alt="test" style="min-width: 150px;"> </a> </div> <!-- Header Logo / End -->
				<!-- Main Navigation -->
				<nav class="main-nav" style="min-width: 1400px;">
					<ul id="menu-primary-menu" class="main-nav__list">
						<li id="menu-item-588"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-583 current_page_item no-mega-menu">
							<a class="menu-item-link" title="Home" href="./index.html">Accueil</a>
						</li>
						<li id="menu-item-1133"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children no-mega-menu">
							<a class="menu-item-link" href="#">Compétitions</a>
							<ul class="main-nav__sub-0">
								<li id="menu-item-1135"
									class="menu-item menu-item-type-post_type menu-item-object-sp_team menu-item-has-children">
									<a class="menu-item-link" href="http://localhost/mysite/team/alchemists/">Pays</a>
									<ul class="main-nav__sub-1">
										<li id="menu-item-1137"
											class="menu-item menu-item-type-post_type menu-item-object-sp_team">
										</li>
										<li id="menu-item-1136"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
											<a class="menu-item-link"
												href="http://localhost/mysite/team/alchemists/roster/">France</a>
											<ul class="main-nav__sub-2">
												<li id="menu-item-1247"
													class="menu-item menu-item-type-custom menu-item-object-custom">
													<a class="menu-item-link" routerLink="/ligue/61">LIGUE 1 UBER EATS -
														LIGUE DE FOOTBALL PROFESSIONNEL</a>
												</li>
											</ul>


										</li>
										<li id="menu-item-1138"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
											<a class="menu-item-link"
												href="http://localhost/mysite/team/alchemists/roster/">Angleterre</a>
											<ul class="main-nav__sub-2">
												<li id="menu-item-1247"
													class="menu-item menu-item-type-custom menu-item-object-custom">
													<a class="menu-item-link"
													routerLink="/ligue/39">Premier
														League</a>
												</li>
												
											</ul>
										</li>

										<li id="menu-item-1138"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
											<a class="menu-item-link"
												href="http://localhost/mysite/team/alchemists/roster/">Espagne</a>
											<ul class="main-nav__sub-2">
												<li id="menu-item-1247"
													class="menu-item menu-item-type-custom menu-item-object-custom">
													<a class="menu-item-link"
													routerLink="/ligue/140">La
														Liga santander</a>
												</li>
												

											</ul>
										</li>

										<li id="menu-item-1138"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
											<a class="menu-item-link"
												href="http://localhost/mysite/team/alchemists/roster/">Italie</a>
											<ul class="main-nav__sub-2">
												<li id="menu-item-1247"
													class="menu-item menu-item-type-custom menu-item-object-custom">
													<a class="menu-item-link"
													href="http://localhost/mysite/player/james-messinal/stats/" routerLink="/ligue/135">Serie
														A</a>
												</li>
												

											</ul>
										</li>
										<li id="menu-item-1138"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
											<a class="menu-item-link"
												href="http://localhost/mysite/team/alchemists/roster/">Allemagne</a>
											<ul class="main-nav__sub-2">
												<li id="menu-item-1247"
													class="menu-item menu-item-type-custom menu-item-object-custom">
													<a class="menu-item-link"
													href="http://localhost/mysite/player/james-messinal/stats/" routerLink="/ligue/78">Bundesliga</a>
												</li>
												

											</ul>
										</li>
									</ul>
								</li>
								<li id="menu-item-1142"
									class="menu-item menu-item-type-post_type menu-item-object-sp_player menu-item-has-children">
									<a class="menu-item-link"
										href="http://localhost/mysite/player/james-messinal/">Ligue des champions de
										l'UEFA</a>
									<ul class="main-nav__sub-1">
										<li id="menu-item-1143"
											class="menu-item menu-item-type-post_type menu-item-object-sp_player">
											<a class="menu-item-link"
												href="http://localhost/mysite/player/james-messinal/">Phase de
												groupes</a>
										</li>
										<li id="menu-item-1144"
											class="menu-item menu-item-type-custom menu-item-object-custom"><a
												class="menu-item-link"
												href="http://localhost/mysite/player/james-messinal/stats/">Elimination
												directe</a>
										</li>
									</ul>
								</li>
								<li id="menu-item-1142"
									class="menu-item menu-item-type-post_type menu-item-object-sp_player menu-item-has-children">
									<a class="menu-item-link"
										href="http://localhost/mysite/player/james-messinal/">Coupe du Monde de la
										FIFA</a>
									<ul class="main-nav__sub-1">
										<li id="menu-item-1143"
											class="menu-item menu-item-type-post_type menu-item-object-sp_player">
											<a class="menu-item-link"
												href="http://localhost/mysite/player/james-messinal/">Calendrier</a>
										</li>
										<li id="menu-item-1144"
											class="menu-item menu-item-type-custom menu-item-object-custom"><a
												class="menu-item-link"
												href="http://localhost/mysite/player/james-messinal/stats/">Phase de
												groupes</a>
										</li>
										<li id="menu-item-1144"
											class="menu-item menu-item-type-custom menu-item-object-custom"><a
												class="menu-item-link"
												href="http://localhost/mysite/player/james-messinal/stats/">Elimination
												direct</a>
										</li>
									</ul>
								</li>

							</ul>
						</li>
						<li id="menu-item-1149"
							class="menu-item menu-item-type-post_type menu-item-object-page">
							<a class="menu-item-link" href="/matchs" routerLink="/matchs">Matchs de la semaine</a>

						</li>
						<li id="menu-item-589"
							class="menu-item menu-item-type-post_type menu-item-object-page ">
							<a class="menu-item-link" href="/simulation" routerLink="/simulation" >Simulation</a>
							
						</li>

						<li id="menu-item-589"
						class="menu-item menu-item-type-post_type menu-item-object-page ">
						<a class="menu-item-link" href="/simulation" routerLink="/signin" *ngIf='!teamfav && isSignedin' ></a>
						<a class="menu-item-link" href="/simulation" routerLink="/signin" *ngIf='!isSignedin' >Mon equipe</a>
						<a class="menu-item-link" href="/simulation" routerLink="/team/{{teamfav.teamid}}" *ngIf='teamfav && isSignedin' style="max-width: 140px;"> <img src={{teamfav.logo}} style="width: 50%;"></a>
					</li>

					
					</ul> <!-- Social Links -->
					<ul>

						<li class="social-links__item">
						<ul id="menu-top-menu" class="nav-account nav-account__divider-slash">
							<li id="menu-item-1233"
								class="nmr-logged-out menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-83 current_page_item nav-account__item">
								<a href="/signup" routerLink="/signup"*ngIf='!isSignedin'>S'inscrire</a>
								<a href="/#" routerLink="/monespace"*ngIf='isSignedin'>Mon Espace</a>
							</li>
						</ul>
					</li>
					<li class="social-links__item"  style="height: 12px; "><h6 style="color: #fff;">/</h6></li>
					<li class="social-links__item">
						<ul id="menu-top-menu" class="nav-account nav-account__divider-slash">
							<li id="menu-item-1233"
								class="nmr-logged-out menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-83 current_page_item nav-account__item">
								<a href="/signin" routerLink="/signin"*ngIf='!isSignedin'>S'identifier</a>
								<a   (click)="doSignout()" routerLink="/home"*ngIf='isSignedin'>Déconnexion</a>
							</li>
						</ul>
					</li>


						<li class="social-links__item" style="height: 2px;"><a href="#" class="social-links__link" data-toggle="tooltip"
								data-placement="center" title="Facebook" target="_blank" ><i
									class="fab fa-facebook" ></i></a></li>
						<li class="social-links__item"  style="height: 2px;"><a href="#" class="social-links__link" data-toggle="tooltip"
								data-placement="bottom" title="Twitter" target="_blank"><i
									class="fab fa-twitter"></i></a></li>
					</ul> <!-- Social Links / End -->
					<!-- Pushy Panel Toggle --> <a href="#" class="pushy-panel__toggle"> <span
							class="pushy-panel__line"></span> </a> <!-- Pushy Panel Toggle / Eng -->
				</nav> <!-- Main Navigation / End -->
			</div>
		</div>
	</div>
</header>

<aside class="pushy-panel pushy-panel--dark">
	<div class="pushy-panel__inner">
		<header class="pushy-panel__header">
			<div class="pushy-panel__logo"> <a href="./index.html" rel="home"> <img src="assets/logo-copy1-1.png"
						class="pushy-panel__logo-img" srcset="assets/logo-copy1-1.png 2x" alt="test"> </a> </div>
		</header>
		<div class="pushy-panel__content">
			<div id="media_image-2" class="widget widget--side-panel widget_media_image"><a
					href="http://bit.ly/2y4ZKHd"><img width="300" height="250" src="assets/banner.jpg"
						class="image wp-image-1264  attachment-medium size-medium" alt="" loading="lazy"
						style="max-width: 100%; height: auto;"
						srcset="assets/banner.jpg 300w, assets/banner-128x107.jpg 128w, assets/banner-32x27.jpg 32w, assets/banner-70x58.jpg 70w, assets/banner-100x83.jpg 100w"
						sizes="(max-width: 300px) 100vw, 300px" /></a></div>
		</div> <a href="#" class="pushy-panel__back-btn"></a>
	</div>
</aside> <!-- Page Heading ================================================== -->


<router-outlet ></router-outlet>

<footer id="footer" class="footer" style="position: static;">
	<!-- Footer Widgets -->
	<div class="footer-widgets">
	  <div class="footer-widgets__inner">
		<div class="container">
		  <div class="row">
			<div class="col-sm-6 col-lg-3">
			  <div class="footer-col-inner">
				<div id="text-1" class="widget widget--footer widget_text">
				  <div class="widget__content"></div>
				  <h4 class="widget__title">Contactez-nous</h4>
				  <div class="widget__content">
					<div class="textwidget">
					  <p>Vous avez une question ? Nous vous répondons par téléphone, sur les réseaux sociaux et par tchat.</p>
					  <div role="form" class="wpcf7" id="wpcf7-f1392-o1" lang="en-US"
						dir="ltr">
						<div class="screen-reader-response">
						  <p role="status" aria-live="polite" aria-atomic="true"></p>
						  <ul></ul>
						</div>
						<form action="/mysite/#wpcf7-f1392-o1" method="post"
						  class="wpcf7-form init" novalidate="novalidate"
						  data-status="init">
						  <div style="display: none;"> <input type="hidden" name="_wpcf7"
							  value="1392" /> <input type="hidden"
							  name="_wpcf7_version" value="5.5.6" /> <input
							  type="hidden" name="_wpcf7_locale" value="en_US" />
							<input type="hidden" name="_wpcf7_unit_tag"
							  value="wpcf7-f1392-o1" /> <input type="hidden"
							  name="_wpcf7_container_post" value="0" /> <input
							  type="hidden" name="_wpcf7_posted_data_hash" value="" />
						  </div>
						  <div class="form-group form-group--xs"> <span
							  class="wpcf7-form-control-wrap input-email"><input
								type="email" name="input-email" value="" size="40"
								class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control input-sm"
								id="input-email" aria-required="true"
								aria-invalid="false"
								placeholder="Votre adresse mail..." /></span> </div>
						  <div class="form-group form-group--xs"> <span
							  class="wpcf7-form-control-wrap textarea"><textarea
								name="textarea" cols="40" rows="4"
								class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control input-sm"
								id="textarea" aria-required="true"
								aria-invalid="false"
								placeholder="Votre message..."></textarea></span>
						  </div>
						  <div class="form-group mb-0"> <input type="submit"
							  value="Send Your Message"
							  class="wpcf7-form-control has-spinner wpcf7-submit btn btn-primary-inverse btn-sm btn-block"
							  id="submit" /> </div>
						  <div class="wpcf7-response-output" aria-hidden="true"></div>
						</form>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div> <!-- Sponsors -->
	  <div class="sponsors-container container">
		<div class="sponsors row justify-content-md-center sponsors--default">
		  <div class="col-md-2 ml-auto">
			<h6 class="sponsors-title">Our Sponsors:</h6>
		  </div>
		  <div class="sponsors-logos-wrapper col-md-8 mr-auto">
			<div id="alc-sponsors-logos-622bb4777b689" class="sponsors-logos">
			  <div class="sponsors__item"> <img src="assets/sponsor-visa.png" alt=""> </div>
			  <div class="sponsors__item"> <img src="assets/sponsor-discover.png" alt=""> </div>
			  <div class="sponsors__item"> <img src="assets/sponsor-paypal.png" alt=""> </div>
			  <div class="sponsors__item"> <img src="assets/sponsor-skrill.png" alt=""> </div>
			  <div class="sponsors__item"> <img src="assets/sponsor-westernunion.png" alt=""> </div>
			  <div class="sponsors__item"> <img src="assets/sponsor-payoneer.png" alt=""> </div>
			</div>
		  </div>
		</div>
	  </div> <!-- Sponsors / End -->
	</div> <!-- Footer Widgets / End -->
	<!-- Footer Secondary -->
	<div class="footer-secondary">
	  <div class="container">
		<div class="footer-secondary__inner">
		  <div class="row">
			<div class="col-lg-4">
			  <div class="footer-copyright"> <a href="http://bit.ly/alch-wp">Aymen Jelassi</a> 2022  
				|   All Rights Reserved </div>
			</div>
			<div class="col-lg-8"> </div>
		  </div>
		</div>
	  </div>
	</div> <!-- Footer Secondary / End -->
  </footer> <!-- Footer / End -->