<div class="sp-template sp-template-league-table" >
    <div class="card card--has-table"  style="background-color: #34373B;">
      <header class="card__header" style="background-color: #34373B;border-bottom: 0.001cm solid #9a9da2;">
        <h4 class="sp-table-caption" style="color: #fff;" ><span class="team-logo" style="padding: 3%;"><img
          width="50" height="57"
          src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/ca/Logo_Ligue_1_Uber_Eats_2020.svg/langfr-130px-Logo_Ligue_1_Uber_Eats_2020.svg.png"
          class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""
          loading="lazy"
          sizes="(max-width: 111px) 100vw, 111px"></span>Liste des users</h4>
      </header>
      <div class="card__content" style="color: #fff;">
        <div class="table-responsive sp-table-wrapper" style="color: #fff;">
          <div class="sp-scrollable-table-wrapper">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
              <table
                class="table table-hover table-standings sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table dataTable no-footer"
                data-sp-rows="10" id="DataTables_Table_0" role="grid" style="color: #fff; --bs-table-hover-color:grey">
                <thead style="color: #fff;">
                  <tr role="row" style="color: #fff;">
                    <th class="data-rank sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                      colspan="1" aria-label="Pos" style="color: #fff;">User Name</th>
                    <th class="data-p sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                      colspan="1" aria-label="P" style="color: #fff;">Email</th>
                    <th class="data-w sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                      colspan="1" aria-label="W" style="color: #fff;">User Roles</th>
                    <th class="data-d sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                      colspan="1" aria-label="D" style="color: #fff;">Authorisation</th>
                      <th class="data-d sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                      colspan="1" aria-label="D" style="color: #fff;">Ban</th>
                    

                  </tr>
                </thead>
                <tbody>
                  <tr class="highlighted sp-row-no-0 odd" role="row" *ngFor="let user of users;"   style="cursor: pointer;">
                    
                    <td class="data-rank sp-highlight" data-label="Pos">{{user.userName}}
                    </td>
                   
                    <td class="data-p" data-label="P" style="color: #fff;">{{user.mail}}</td>
                    <td class="data-w" data-label="W" style="color: #fff;">{{user.userRoles}}</td>
                    <td class="data-d" data-label="D" style="color: #fff;">{{user.auth}}</td>
                    <td class="data-d" data-label="D" style="color: #fff;">
                      <button type="button" class="btn btn-secondary" *ngIf="user.auth==true" (click) = "OnClick(user)"  >Ban</button>
                      <button type="button" class="btn btn-secondary" *ngIf="user.auth==false" (click) = "OnClick(user)"  >Unban</button>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>