<div class="page-heading page-heading--has-bg">
        <div class="container">
                <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                                <h1 class='page-heading__title'>Accueil</h1>
                                <nav role="navigation" aria-label="Fil d&#039;Ariane"
                                        class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">

                                </nav>
                        </div>
                </div>
        </div>
</div>

<div class="row justify-content-center">
        <div class="col" style="max-width: 40%;">
                <!-- Featured News -->
                <div class="card card--clean" style="background-color: #3F4246;">
                        <header class="card__header card__header--has-filter"
                                style="background-color: transparent;border: 0ch;">
                                <h4
                                        style="background-color: #3F4246;color: #fff;font-weight: 700;padding-bottom: 15px;">
                                        Actualités Football
                                </h4>
                                <ul class="category-filter category-filter--featured">
                                        <li class="category-filter__item"><a href="https://www.lequipe.fr/"
                                                        class="category-filter__link category-filter__link--reset category-filter__link--active"
                                                        style="color: #38A9FF">L'Equipe</a>
                                        </li>
                                        <li class="category-filter__item"><a href="https://www.footmercato.net/"
                                                        class="category-filter__link"
                                                        data-category="posts__item--category-1"
                                                        style="color: #38A9FF">Foot
                                                        Mercato</a></li>
                                        <li class="category-filter__item"><a href="https://www.onzemondial.com/"
                                                        class="category-filter__link"
                                                        data-category="posts__item--category-3"
                                                        style="color: #38A9FF">Onze
                                                        Mondial</a></li>
                                        <li class="category-filter__item"><a href="https://www.football365.fr/"
                                                        class="category-filter__link"
                                                        data-category="posts__item--category-2"
                                                        style="color: #38A9FF">Football365</a></li>
                                </ul>
                        </header>
                        <div class="card__content" style="background-color: #1E2024;">
                                <div id="cf">
                                        <a href="https://www.lequipe.fr/Football/">
                                                <img class="bottom"
                                                        src="https://alchemists.dan-fisher.dev/soccer-dark/assets/images/soccer/samples/_soccer_post-img1.jpg"
                                                        style="width: 400px;" />
                                        </a>
                                        <a href="https://www.onzemondial.com/">
                                                <img class="top"
                                                        src="https://alchemists.dan-fisher.dev/soccer-dark/assets/images/soccer/samples/_soccer_post-img3.jpg"
                                                        style="width: 400px;" />
                                        </a>
                                </div>


                        </div>
                </div><!-- Featured News / End -->
        </div>

        <div class="col" style="max-width: 40%;">
                <header class="card__header card__header--has-filter" style="background-color: #3F4246;border: 0ch;">
                        <h4 style="background-color: #3F4246;color: #fff;font-weight: 700;">Scores d'aujourd'hui</h4>

                </header>

                <div id="wg-api-football-fixtures" data-host="api-football-v1.p.rapidapi.com" data-refresh="9000"
                        data-date="2022-03-20" data-key="a52368da49msh671fc3a9ed7dd70p146331jsn17ba70bd45ec" data-league="61" data-season="2021"
                        data-theme="grey" data-show-errors="true" class="api_football_loader" style="max-height: 50px;"> 
                </div> -->

              
        </div>
</div>